* {
  font-family: 'Quicksand', sans-serif;
}

.react-child-wrapper {
  position: relative;
  height: 100%;
}

.react-child-wrapper .react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-child-wrapper .react-horizontal-scrolling-menu--scroll-container {
  scrollbar-width: none;
  /* -ms-overflow-style: 'none' */
}

.scroll-next {
  animation: moveLeftRight 1.5s infinite;
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(-4px);
  }
}

@keyframes lightSweep {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.show-word {
  opacity: 0;
  display: inline-block;
  animation: display 1s forwards;
}

@keyframes display {
  to {
    opacity: 1;
  }
}

.words3 {
  opacity: 0;
  animation: zoomOut 1s forwards;
  animation-delay: 5s;
}

@keyframes zoomOut {
  from {
    opacity: 0;
    scale: 0.9;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes zoomOut07 {
  from {
    opacity: 0;
    scale: 0.7;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

.button-profile {
  opacity: 0;
  visibility: hidden;
  animation: buttonProfile 0.5s forwards;
  animation-delay: 7s;
}

.button-about {
  opacity: 0;
  visibility: hidden;
  animation: buttonAbout 0.5s forwards;
  animation-delay: 7s;
}

@keyframes buttonProfile {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-40px);
  }
  to {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes buttonAbout {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(40px);
  }
  to {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
  }
}

.scroll-footer {
  opacity: 0;
  animation: display 0.5s forwards;
  animation-delay: 8.5s;
}

.section-title {
  opacity: 0;
  animation: display 0.5s forwards;
}

.section-wrapper {
  opacity: 0;
  animation: zoomOut 0.8s forwards;
  animation-delay: 0.5s;
}
